params {
    input = null
    outdir = 'results'
}

process {
    executor = 'local'

    withName: FASTQC {
        cpus = 2
        memory = '2 GB'
        time = '30 min'
    }

    withName: FASTP {
        cpus = 2
        memory = '2 GB'
        time = '30 min'
    }
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

profiles {
    test {
        params.input = 'test_data/samplesheet.csv'
        params.outdir = 'results/test'
    }
}